# Chapter 2 — An Array of Sequences

**Sections with code snippets in this chapter:**

* [List Comprehensions and Generator Expressions](#List-Comprehensions-and-Generator-Expressions)
* [Tuples Are Not Just Immutable Lists](#Tuples-Are-Not-Just-Immutable-Lists)
* [Unpacking sequences and iterables](#Unpacking-sequences-and-iterables)
* [Pattern Matching with Sequences](#Pattern-Matching-with-Sequences)
* [Slicing](#Slicing)
* [Using + and * with Sequences](#Using-+-and-*-with-Sequences)
* [Augmented Assignment with Sequences](#Augmented-Assignment-with-Sequences)
* [list.sort and the sorted Built-In Function](#list.sort-and-the-sorted-Built-In-Function)
* [When a List Is Not the Answer](#When-a-List-Is-Not-the-Answer)
* [Memory Views](#Memory-Views)
* [NumPy and SciPy](#NumPy-and-SciPy)
* [Deques and Other Queues](#Deques-and-Other-Queues)
* [Soapbox](#Soapbox)

## List Comprehensions and Generator Expressions

#### Example 2-1. Build a list of Unicode codepoints from a string

In [2]:
symbols = '$¢£¥€¤'
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

#### Example 2-2. Build a list of Unicode codepoints from a string, using a listcomp

In [3]:
symbols = '$¢£¥€¤'

codes = [ord(symbol) for symbol in symbols]

codes

[36, 162, 163, 165, 8364, 164]

#### Box: Listcomps No Longer Leak Their Variables

In [4]:
x = 'ABC'
codes = [ord(x) for x in x]
x

'ABC'

In [5]:
codes

[65, 66, 67]

In [6]:
codes = [last := ord(c) for c in x]
last

67

#### Example 2-3. The same list built by a listcomp and a map/filter composition

In [7]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [8]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

#### Example 2-4. Cartesian product using a list comprehension

In [9]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [10]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [11]:
shirts = [(color, size) for size in sizes
          for color in colors]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

#### Example 2-5. Initializing a tuple and an array from a generator expression

In [12]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [13]:
import array

array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

#### Example 2-6. Cartesian product in a generator expression

In [14]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

## Tuples Are Not Just Immutable Lists

#### Example 2-7. Tuples used as records

In [15]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [16]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### Tuples as Immutable Lists

In [17]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])
a == b

True

In [18]:
b[-1].append(99)
a == b

False

In [19]:
b

(10, 'alpha', [1, 2, 99])

In [20]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True


tf = (10, 'alpha', (1, 2))  # Contains no mutable items
tm = (10, 'alpha', [1, 2])  # Contains a mutable item (list)
fixed(tf)

True

In [21]:
fixed(tm)

False

## Unpacking sequences and iterables

In [1]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  # unpacking
latitude

33.9425

In [2]:
longitude

-118.408056

In [3]:
divmod(20, 8)

(2, 4)

In [4]:
t = (20, 8)
divmod(*t)

(2, 4)

In [5]:
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [6]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [8]:
import os
os.path.split('%USERPROFILE%/.ssh/id_rsa')

('%USERPROFILE%/.ssh', 'id_rsa')

In [7]:
import os

_, filename = os.path.split('%USERPROFILE%/.ssh/id_rsa')
filename

'id_rsa'

### Using * to grab excess items

In [1]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [2]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [3]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [4]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [5]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### Unpacking with * in function calls and sequence literals

In [6]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest


fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [7]:
*range(4), 4

(0, 1, 2, 3, 4)

In [8]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [9]:
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

### Nested unpacking
#### Example 2-8. Unpacking nested tuples to access the longitude

[02-array-seq/metro_lat_lon.py](02-array-seq/metro_lat_lon.py)

## Pattern Matching with Sequences
#### Example 2-9. Method from an imaginary Robot class

In [18]:
# def handle_command(self, message):
#     match message:
#         case ['BEEPER', frequency, times]:
#             self.beep(times, frequency)
#         case ['NECK', angle]:
#             self.rotate_neck(angle)
#         case ['LED', ident, intensity]:
#             self.leds[ident].set_brightness(ident, intensity)
#         case ['LED', ident, red, green, blue]:
#             self.leds[ident].set_color(ident, red, green, blue)
#         case _:
#             raise InvalidCommand(message)

#### Example 2-10. Destructuring nested tuples—requires Python ≥ 3.10.
[02-array-seq/match_lat_lon.py](02-array-seq/match_lat_lon.py)

In [19]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case [name, _, _, (lat, lon)] if lon <= 0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')
main()

SyntaxError: invalid syntax (Temp/ipykernel_6208/1972775804.py, line 12)

### Pattern Matching Sequences in an Interpreter
#### Example 2-11. Matching patterns without match/case.
[02-array-seq/lispy/py3.9/lis.py](02-array-seq/lispy/py3.9/lis.py)

#### Example 2-12. Pattern matching with match/case—requires Python ≥ 3.10.
[02-array-seq/lispy/py3.10/lis.py](02-array-seq/lispy/py3.10/lis.py)

## Slicing

### Why Slices and Range Exclude the Last Item

In [10]:
l = [10, 20, 30, 40, 50, 60]

l[:2]  # split at 2

[10, 20]

In [11]:
l[2:]

[30, 40, 50, 60]

In [12]:
l[:3]  # split at 3

[10, 20, 30]

In [13]:
l[3:]

[40, 50, 60]

### Slice Objects

In [14]:
s = 'bicycle'
s[::3]

'bye'

In [15]:
s[::-1]

'elcycib'

In [16]:
s[::-2]

'eccb'

#### Example 2-13. Line items from a flat-file invoice

In [17]:
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                  $4.95    2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   imoroni PiBrella
     $4.95   mm Tactile Switch x20
    $28.00   anavise Jr. - PV-201
    $34.95   iTFT Mini Kit 320x240

In [18]:
invoice.split('\n')

['',
 '0.....6.................................40........52...55........',
 '1909 Pimoroni PiBrella                      $17.50    3    $52.50',
 '1489 6mm Tactile Switch x20                  $4.95    2    $9.90',
 '1510 Panavise Jr. - PV-201                  $28.00    1    $28.00',
 '1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95',
 '']

In [19]:
line_items

['1909 Pimoroni PiBrella                      $17.50    3    $52.50',
 '1489 6mm Tactile Switch x20                  $4.95    2    $9.90',
 '1510 Panavise Jr. - PV-201                  $28.00    1    $28.00',
 '1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95',
 '']

### Assigning to Slices

In [20]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [22]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [23]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

By design, this example raises an exception::

In [24]:
try:
    l[2:5] = 100
except TypeError as e:
    print(repr(e))

TypeError('can only assign an iterable')

In [25]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

## Using + and * with Sequences

In [26]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

### Building Lists of Lists

#### Example 2-14. A list with three lists of length 3 can represent a tic-tac-toe board

In [28]:
'_' * 3

'___'

In [29]:
['_'] * 3

['_', '_', '_']

In [30]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [31]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

#### Example 2-15. A list with three references to the same list is useless

In [32]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [33]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

#### Explanation

In [34]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [35]:
board[2][0] = 'X'
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

## Augmented Assignment with Sequences

In [36]:
l = [1, 2, 3]
idl = id(l)

In [37]:
# NBVAL_IGNORE_OUTPUT
idl

2771536217792

In [38]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [39]:
id(l) == idl  # same list

True

In [40]:
t = (1, 2, 3)
idt = id(t)

In [41]:
# NBVAL_IGNORE_OUTPUT
idt

2771532993280

In [42]:
t *= 2
id(t) == idt  # new tuple

False

### A += Assignment Puzzler
#### Example 2-16. A riddle

In [43]:
t = (1, 2, [30, 40])
try:
    t[2] += [50, 60]
except TypeError as e:
    print(repr(e))

TypeError("'tuple' object does not support item assignment")

#### Example 2-17. The unexpected result: item t2 is changed and an exception is raised

In [44]:
t

(1, 2, [30, 40, 50, 60])

In [45]:
[30, 40] + [50, 60]

[30, 40, 50, 60]

#### Example 2-18. Bytecode for the expression s[a] += b

In [46]:
import dis

dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

## list.sort and the sorted Built-In Function

In [1]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [2]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [3]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [4]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [5]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [6]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [7]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

In [9]:
!cat example-code/02-array-seq/bisect_demo.py

# BEGIN BISECT_DEMO
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)  # <1>
        offset = position * '  |'  # <2>
        print(ROW_FMT.format(needle, position, offset))  # <3>

if __name__ == '__main__':

    if sys.argv[-1] == 'left':    # <4>
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect

    print('DEMO:', bisect_fn.__name__)  # <5>
    print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

# END BISECT_DEMO

In [10]:
!python example-code/02-array-seq/bisect_demo.py

DEMO: bisect_right
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

In [8]:
import bisect
import sys
HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]
ROW_FMT = '{0:2d} @ {1:2d} {2}{0:<2d}'
def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * ' |'
        print(ROW_FMT.format(needle, position, offset))
if __name__ == '__main__':
    if sys.argv[-1] == 'left':
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
    print('DEMO:', bisect_fn.__name__)
    print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

DEMO: bisect_right
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14  | | | | | | | | | | | | | |31
30 @ 14  | | | | | | | | | | | | | |30
29 @ 13  | | | | | | | | | | | | |29
23 @ 11  | | | | | | | | | | |23
22 @  9  | | | | | | | | |22
10 @  5  | | | | |10
 8 @  5  | | | | |8
 5 @  3  | | |5
 2 @  1  |2
 1 @  1  |1
 0 @  0 0

In [11]:
!cat example-code/02-array-seq/bisect_insort.py

import bisect
import random

SIZE = 7

random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d ->' % new_item, my_list)

In [12]:
!python example-code/02-array-seq/bisect_insort.py

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

In [17]:
import random
random.seed(1729)

for i in range(7):
    new_item = random.randrange(7*2)
    print(new_item)

10
0
6
8
7
2
10

## When a List Is Not the Answer

### Arrays

#### Example 2-19. Creating, saving, and loading a large array of floats

In [18]:
from array import array
from random import random, seed
seed(10)  # Use seed to make the output consistent

floats = array('d', (random() for i in range(10 ** 7)))
floats[-1]

0.8190492979077034

In [19]:
with open('data/floats.bin', 'wb') as fp:
    floats.tofile(fp)

In [20]:
floats2 = array('d')

with open('data/floats.bin', 'rb') as fp:
    floats2.fromfile(fp, 10 ** 7)

floats2[-1]

0.8190492979077034

In [21]:
floats2 == floats

True

### Memory Views

#### Example 2-20. Handling 6 bytes memory of as 1×6, 2×3, and 3×2 views

[type code of array](https://docs.python.org/3/library/array.html)

In [9]:
"{0:b}".format(1024)

'10000000000'

In [20]:
bin(1024)

'0b10000000000'

In [21]:
format(1024, '0b')

'10000000000'

In [12]:
format(1024, 'o')

'2000'

In [13]:
format(16, 'o')

'20'

In [19]:
format(16, '0o')

'20'

In [18]:
oct(16)

'0o20'

In [16]:
format(16, '0x')

'10'

In [17]:
hex(16)

'0x10'

In [23]:
2**10

1024

In [24]:
2**7

128

In [2]:
from array import array
octets = array('B', range(6))
m1 = memoryview(octets)
m1.tolist()

[0, 1, 2, 3, 4, 5]

In [3]:
m2 = m1.cast('B', [2, 3])
m2.tolist()

[[0, 1, 2], [3, 4, 5]]

In [4]:
m3 = m1.cast('B', [3, 2])
m3.tolist()

[[0, 1], [2, 3], [4, 5]]

In [6]:
m1.tolist()

[0, 1, 2, 3, 4, 5]

In [7]:
m2.tolist()

[[0, 1, 2], [3, 4, 5]]

In [8]:
m2[1,1] = 22
m3[1,1] = 33
octets

array('B', [0, 1, 2, 33, 22, 5])

#### Example 2-21. Changing the value of an 16-bit integer array item by poking one of its bytes

In [85]:
numbers = array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

5

In [86]:
memv[0]

-2

In [87]:
memv_oct = memv.cast('B')
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [88]:
memv_oct[5] = 4
numbers

array('h', [-2, -1, 1024, 1, 2])

### NumPy

#### Example 2-22. Basic operations with rows and columns in a numpy.ndarray

In [25]:
import numpy as np

a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [26]:
range(12)

range(0, 12)

In [27]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
list(np.arange(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [29]:
type(a)

numpy.ndarray

In [30]:
a.shape

(12,)

In [31]:
a.shape = 3, 4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [32]:
a[2]

array([ 8,  9, 10, 11])

In [33]:
a[2, 1]

9

In [34]:
a[:, 1]

array([1, 5, 9])

In [35]:
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

#### Example 2-22. Loading, saving, and vectorized operations

In [36]:
from random import random, seed
with open('data/floats-1M-lines.txt', 'wt') as fp:
    for _ in range(1_000_000):
        fp.write(f'{random()}\n')

In [37]:
floats = np.loadtxt('data/floats-1M-lines.txt')

In [38]:
floats[-3:]

array([0.68139329, 0.02913699, 0.8644374 ])

In [40]:
floats *= .5
floats[-3:]

array([0.17034832, 0.00728425, 0.21610935])

In [41]:
from time import perf_counter as pc

t0 = pc()
floats /= 3
(pc() - t0) < 0.01

True

In [42]:
np.save('data/floats-1M', floats)
floats2 = np.load('data/floats-1M.npy', 'r+')
floats2 *= 6

In [43]:
floats2[-3:]

memmap([0.34069665, 0.0145685 , 0.4322187 ])

### Deques and Other Queues

#### Example 2-23. Working with a deque

In [44]:
import collections

dq = collections.deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [106]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [107]:
dq.appendleft(-1)
dq

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [108]:
dq.extend([11, 22, 33])
dq

deque([3, 4, 5, 6, 7, 8, 9, 11, 22, 33])

In [109]:
dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8])

## Soapbox

### Mixed bag lists

In [110]:
l = [28, 14, '28', 5, '9', '1', 0, 6, '23', 19]

In [111]:
try:
    sorted(l)
except TypeError as e:
    print(repr(e))

TypeError("'<' not supported between instances of 'str' and 'int'")

### Key is Brilliant

In [112]:
l = [28, 14, '28', 5, '9', '1', 0, 6, '23', 19]

sorted(l, key=int)

[0, '1', 5, 6, '9', 14, 19, '23', 28, '28']

In [113]:
sorted(l, key=str)

[0, '1', 14, 19, '23', 28, '28', 5, 6, '9']

# memoryviews

## References

* [PEP-3118](https://www.python.org/dev/peps/pep-3118/) Revising the buffer protocol (2006)
* [issue14130](https://bugs.python.org/issue14130) memoryview: add multi-dimensional indexing and slicing (2012)

In [1]:
import sys
print(sys.version)

3.7.1 (default, Dec 14 2018, 13:28:58)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [2]:
mv1d = memoryview(bytes(range(35, 50)))
mv1d

In [3]:
list(mv1d)

[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [4]:
mv2d = mv1d.cast('B', [3, 5])
mv2d

In [5]:
mv2d.shape

(3, 5)

In [6]:
len(mv2d)

3

In [7]:
mv2d.tolist()

[[35, 36, 37, 38, 39], [40, 41, 42, 43, 44], [45, 46, 47, 48, 49]]

In [8]:
for row in mv2d.tolist():
    print(row)

[35, 36, 37, 38, 39]
[40, 41, 42, 43, 44]
[45, 46, 47, 48, 49]

In [9]:
mv2d[1, 2]

42

In [10]:
mv2d.tolist()[1][2]

42